# Variáveis de ambiente
# Copie este arquivo para .env e configure as variáveis

# Frontend (Vite)
VITE_API_URL=http://localhost:5001/api

# Backend
NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb+srv://fipe_admin:admin123@fipe-teste.wtgaly0.mongodb.net/?retryWrites=true&w=majority&appName=fipe-teste
FRONTEND_URL=http://localhost:5173